body{
    font-family: Verdana;
    text-align: center;
    color: white;
    background-color: black;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(80, 0, 184);
    transition: background-color 0.25s;
    color: white
}
#myButton:hover{
    background-color: rgb(65, 0, 170);
}
.myLabels{
    font-size: 3em;
    margin: 10px;
}